
.openicon{
  position: absolute;
  top: 230px;
  left: 50%;
  outline:none;
  border: none;
  
  img{
    height: 35px;
    width: 35px;
    outline:none;
    border: none;
  }
}

//-------------------------------------------
 .feature-callout_img{
  background: no-repeat top center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
  display: block;
  outline:none;
 }



//Banner
.feature-callout-renters__banner{
  height: 586px;
  width: 100%;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: block;
  position: relative;
  
}
// End of Banner display
//-------------------------------------------

.master__center{
  text-align: center;
  margin-top: 20px;
}
.menu{
  font-size: 30px;
  display: none;
  color: black;
  position: relative;
  bottom: 5px;
}

//-------------------------------------------
.container_div_bottom{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.pricing__container{
  float: right;
  margin-right: 13%;
}


//Start of Banner pricing
.banner__pricing{
  display: inline-block;
  padding: 10px 15px;
  padding-bottom: 0;
  font-size: 18px;
  color: black;
  background: white;
  border:1px solid #000;
  border-bottom: none;
  font-weight: bold;
    &:last-child{
      border-left: none;
    }

    .span-perweek{
      font-size: 12px;
    }
}

//End of Pricing

//-------------------------------------------

//Start of Box container

.banner__container{//container
  clear: both;
  background: rgba( 8, 46, 57, 0.9);
  color: white;
  height: auto;
  z-index: 1;
  width: 100%;

  .banner__contant-title{//title
    font-size: 36px;
    padding-top: 30px;
    display: block;
    font-weight: bold;
    
  }
}

.banner__contant-address {//address
  font-size: 18px;
  @extend .opensans-light;

}

  .banner__contant{//unorder list
    font-size: 14px;
    padding-bottom: 30px;
    display: inline-block;


    .banner__contant-list {
      @extend .opensans-light;
      display: inline;
      padding: 0 20px 0 0;
      .banner__svg{
        display: inline-block;
        fill:white;
        height: 25px;
        position: relative;
        top: 5px;
      }

      svg {//SVG
        height: 25px;
        width: 25px;
      }

      .banner__label {
        padding-left:10px;
        @extend .opensans-light;
      }

  }
}

// End of box container

//------------------------------------------
//form

  .mini_form-container{
    height: auto;
    background: #12a3cd;
    padding: 20px;
    border-radius: 3px;
  }

  .mini_form{
    padding: 0 5px;
    vertical-align: top;
    width: 33%;
    display: inline-block;
    overflow: hidden; 
    border-radius: 5px;
    &:first-child{
      padding-left: 0;

    }
    &:nth-child(3){
      padding-right: 0;
    }
  }
 
   .mini_form__label{
    font-size: 10px;
    color: white;
    display: block;
    padding-bottom:10px; 
    line-height: 0.75em;
    text-transform: uppercase; 
  }



  .mini_form__input{
    height: 40px;
    text-align: center;
    width: 100%;
    border: 1px solid #1291b5;
    border-radius: 4px;
    color: #4f5050;
  }


  .select-number{
    
    select{
    height: 40px;
    
    -webkit-appearance:none;
    -moz-appearance:none;
    -o-appearance:none;
    appearance:none; 
    overflow:hidden;
    display: inline-block;
    padding: 13px 10px 14px;
    -moz-padding: 13px 10px 9px;
    width: 100%;
    outline: none;
    color: #4f5050;
    border: 1px solid #1291b5;
    border-radius: 4px;
    border: none;
    background: white url("/assets/images/global/down-arrow.png") no-repeat 60px center;
    background-position: calc(100% - 10px) 50%;
    text-indent: 1px;
    text-overflow: '';
    .ie9 &{
      display: none;
   }

      &::-ms-expand {
        display: none;
      }
    }
 }


@-moz-document url-prefix() {
    .select-number{
 
    select{
      padding-bottom: 9px;
    }
  }
}

//----------------------
//BTN
.mini_form_btn{
  font-size: 16px;
  border: 2px solid white;
  border-radius: 5px;
  text-align: center;
  font-weight: 400;
  padding: 10px 0;
  margin-top: 10px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  text-transform: uppercase; 

    a{
      color: white;
    }
    &:hover{
      opacity: 0.6;
    }
}

  
//----------------------



.amenities__title_DT{
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0;
  display: block;
  a{
    color: #4f5050;
  }
}

//Start of Amenities
.amenities__title{
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0;
  display: none;
  a{
    color: #4f5050;
  }
}

.amenities__container{
  border: 1px solid #e5e5e5;
  padding: 20px;
  color: #4f5050;

  .amenities__list{
    font-weight:normal;
    font-size: 12px;
    padding-bottom: 10px;
    @extend .opensans-light;
  }
}
//End of Amenities

//------------------------------------------

//Start of Paragraph column

.column__container{
  background: white;
  border: 1px solid #e5e5e5;
  padding: 30px;
  margin-left: 30px;
  @extend .opensans-normal;
  

  .paragraph__title-container{
    font-size: 26px;
    color: #4f5050;
    padding-bottom: 10px;
    line-height: 0.75em;
  }
  .paragraph{
    font-size: 16px;
    color: #787878;
    padding-bottom: 30px;
  }
  .paragraph__title{
    font-size: 15px;
    color: #444444;
    padding-bottom: 5px;
  }
}
//End of Paragraph column

//-------------------------------------------

.crossedout{
  text-decoration: line-through;
  color: #bec2c3;
}





//-------------------------------------------

.ui-datepicker .ui-datepicker-title{
  color: white;
}
.ui-datepicker .ui-datepicker-header{
  color: white;
  background:#12a3cd;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
  background: none;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
  background:lightgray;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
  background: none;
}
.ui-datepicker .ui-datepicker-prev span{
  width: 0; 
  height: 0; 
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent; 
  border-right: 5px solid white; 
}


.ui-datepicker .ui-datepicker-next span{width: 0; 
  height: 0; 
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid white;
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span{
  margin-left: -5px;
  margin-top: -5px;
}

.guest{
  padding-right: 0; 
  width: 24.5%;
}

.hero{
  display: none;
}
.hero-z{
  display: block;
}

@media screen and (max-width: 937px){

  .mini_form{
    line-height: 1;
    width: 50%;
    padding-right: 5px;
      &:nth-child(2){
         padding-left: 5px;
        padding-right: 0;

      }
      &:nth-child(3){
         width: 100%;
      }
    }

  .guest{ 
    padding-top: 20px;
    display: block;
   
  }
    

}

//-------------------------------------------
 
@media screen and (max-width: 640px){
  .section{
    padding: 30px 0;
  }

  .column__container{
    margin-top: 15px;
    margin-left: 0; 
  }
  .guest{
    margin-bottom: 0;
  }

  .amenities__list{
    font-size: 20px;
  }

  .menu{
  display: inline-block;
  }

  .banner__container .banner__contant-title{
    font-size: 25px;
    text-align: center;
    padding-top: 15px;
  }

  .banner__contant-address {
    font-size: 16px;
    text-align: center;
  }
    .banner__contant{//unorder list
      text-align: center;
      display:block;
      padding-bottom: 0;
  }


  .banner__contant .banner__contant-list{
    padding: 15px 15px 15px 0;
    display: inline-block;
    text-align: center;
  }
 .banner__contant .banner__contant-list .banner__label{
  padding:0;
  padding-top: 10px;
  display: block;
 }
 .banner__contant .banner__contant-list .banner__label::before{
  display: table }

   .mini_form{
    line-height: 1;
    width: 35%;
    padding-right: 5px;
      &:nth-child(2){
         padding: 0 5px;

      }
      &:nth-child(3){

         width: 30%;
      }
    }

  .guest{ 
    padding-top: 0;
   
  }
  .amenities__title{display: block;}
  
  .amenities__title_DT{display: none;}

}

@media screen and (max-width: 768px){

  .hero_container .hero_label{
    padding: 10px;

  }

}



