/* ==========================================================================
    FEATURE CALLOUT
   ========================================================================== */

.feature-callout {
  background: no-repeat top center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: #fff;
  height: 100%;
  display: block;
  text-align: center;

  .container {
  	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
  }

  .button, .button-callout {
    margin-top: 30px;
    width: 50%;
    height: inherit;
    font-size: 24px;
    @extend .opensans-light;
    text-align: center;
    padding: 10px;

    @include extrasmall {
      font-size: 16px
  }

  @include small {
      font-size: 20px
  }
  }

  &--mini {
    height: auto;
    background-attachment: initial;

    @include extrasmall {
      padding: 20px 0;
    }

    @include small {
      padding: 80px 0;
    }

    .container {
      top: 0;
      transform: translateY(0);
    }

  }

}


// ==========================================================================
   


.feature-callout__initial-header {
  @extend .opensans-light;
	text-transform: uppercase;
  text-shadow: 0px 0px 5px rgba(0,0,0,1);

  @include extrasmall {
    font-size: 28px;
  }

  @include small {
    font-size: 48px;
  }

  .feature-callout--mini & {
    @extend .section__main-title;
    text-transform: none;
    font-size: 36px;
  }

}

// ==========================================================================

.feature-callout__final-header {
  @extend .opensans-bold;
	text-transform: uppercase;
  text-shadow: 0px 0px 5px rgba(0,0,0,1);
  padding-bottom: 38px;
  padding-top: 10px;
  font-size: 60px;

  @include extrasmall {
    font-size: 34px;
  }

  @include small {
    font-size: 60px;
  }

  .feature-callout--mini & {
    text-transform: none;
    font-size: 18px;
    @extend .opensans-light;
  }

}
// ==========================================================================


.feature-callout-renters__mini{
  color: #fff;
  height: 190px;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: block;
  text-align: center;
  position: relative;
  background: top center fixed;
}


#button{
    border-radius: 3px;
  border: 2px solid #fff;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  @extend .opensans-light;
  line-height: 36px;
  padding: 0 10px;
  text-transform: uppercase;
}




