/* ==========================================================================
    GENERIC CALLOUT
   ========================================================================== */

.callout-list {
  @extend .clearfix;
}

.callout-list__item {
  position: relative;

  @include extrasmall {
    width: 100%;
    margin-bottom: 15px;
  }

  @include small {
    display: inline-block;
    width: calc(33% - 20px);
    margin: 10px;
  }

  img {
    display: block;
    width: 100%;
    &:hover{
      opacity: 0.6;
    }

  }

  &--large {

    @include small {
      width: calc(66% - 15px);

      &:nth-child(4n+3) {
        float: right;
      }

    }
    
  }

}

// ==========================================================================

.callout-list__item__anchor {
  display: block;
}
.callout-list__item img{
  height: auto;
}
// ==========================================================================
.callout-list__item__title {
  @extend .opensans-bold;
  color: #fff;
  padding: 0 10px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 100%;

  @include extrasmall {
    font-size: 26px;
    top: 50%;
    @include transform(translateY(-50%));
  }

  @include small {
    font-size: 26px;
    bottom: 20px;
  }

}

// ==========================================================================