
.overlay{
  display: none;
}
#viewer{
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba( 0, 0, 0 ,0.9);
}


#close{ 
  position: absolute;
  opacity: 0.7;
  z-index: 1;
  top: 30px;
  right: 0%;
  &:hover{
      opacity: 1;
    }
  &:after {
      position: absolute;
      top: 0;
      right: 50px;
      content: url("/assets/images/cross.png"); /* use the hex value here... */
  }
}

.flexslider .slides .img-slider{
  margin: 0 auto;
}

#carousel {
  max-width: 50%;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
}

/* ==========================================================================
    Maintenance CALLOUT
   ========================================================================== */
.borderline{
  border-top: 10px solid #032a36;
  padding-top: 30px;
}

.section__column{
  float: left;
  width: 30%;
  &:last-child{
    float: right;
    width: 70%;;
  }
}
// ==========================================================================
.section__appform{
  font-size: 12px;
  font-weight: bold;
  display: block;
}
// ==========================================================================
.callout-form__item__anchor{
  display: block;
  text-decoration: none;
  color:#3db3d5;
  margin: 10px 0 0 0;
    &:hover{
      color: black;
    }
  }
// ==========================================================================
.section__header-form-img{
  width: 100%;
  height: auto;
}
.section__title-form{
  font-size: 36px;
  padding-bottom: 20px;
  color: #032a36;
  margin-left: 30px;
}
.active{
  color: black;
  opacity: 1;
}
 .btn-help{
    display: none;
  }
// ==========================================================================
// PMA
.column__container {
  
  .pma__title{
    padding-bottom: 25px;
    font-size: 24px;
    font-weight: bold;
    color: #032a36;
  }

  .pma__sub {
    padding-bottom: 50px;
    font-size: 16px;
    font-family: arial;
    color: #444444;
  }

  .pma__m-box{
    font-size: 18px;
    color: #444444;
    display: inline-block;
    width: 50%;
    font-family: arial;
    &:nth-child(odd){
      
      padding-right: 10px;
    }
    &:nth-child(even){
      padding-left: 10px;
    }

    .pma__lable{
      padding-bottom: 10px;
      font-weight: bold;
      padding-top: 20px;
    }

    select{
      font-size: 18px;
      -webkit-appearance: none;
      -ms-appearance: none;
      -moz-appearance: none;
      appearance: none;
      overflow:hidden;
      display: inline-block;
      font-family: arial;
      padding: 8.5px 10px;
      width: 100%;
      outline: none;
      color: #8f8f8f;
      border: 1px solid #1291b5;
      border-radius: 4px;
      border: none;
      background: white url("/assets/images/global/down-arrow.png") no-repeat 60px center;
      background-position: calc(100% - 10px) 50%;
      border: 1px solid #1291b5;
        &::-ms-expand {
        display: none;
        }
        &:before{
          display: none;
        }
      }
  }

  .pma__box{
      font-size: 18px;
      color: #444444;
      width: 100%;
      padding-bottom: 20px;
      vertical-align: top;
      font-family: arial;
      font-weight: bold;
      .pma__lable{
        padding-bottom: 10px;
        padding-top: 20px;
        
      }
   }


  .pma__input{
    font-family: arial;
    position: relative;
    


    input{
      width: 100%;
      height: 40px;
      border: 1px solid #1291b5;
      border-radius: 4px;
      position: relative;
      top: 0;
      left: 0;
    }
  }


  

    .pma__s-box{
      color: #444444;
      width: 25%;
      font-size: 16px;
      display: inline-block;
      padding: 0 10px;
      font-family: arial;
      font-weight: bold;
      &:first-child{
        padding-left: 0;
      }
        &:last-child{
        padding-right: 0;
      }
      .pma__lable{
        padding-top: 20px;

      }
    
      .pma__select{
        margin-top: 10px;
      
        select{
          text-indent: 40%;
          font-size: 18px;
           font-family: arial;
          -webkit-appearance: none;
          -moz-appearance: none;
          -ms-appearance: none;
          appearance: none;
          overflow:hidden;
          display: inline-block;
          padding: 8.5px 10px;
          width: 100%;
          outline: none;
          color: #444444;
          border: 1px solid #1291b5;
          border-radius: 4px;
          border: none;
          background: white url("/assets/images/global/down-arrow.png") no-repeat 60px center;
          background-position: calc(100% - 10px) 50%;
          border: 1px solid #1291b5;
          &:before{
            display: none;
          }
          &::-ms-expand {
            display: none;
          }
        }
      }
    }


  .pma__lable-l{
    border-radius: 4px;
    input{
      width: 100%;
      font-size: 24px;
      padding: 20px;
      background: #1291b5;
      border-radius: 3px;
      margin-top: 20px;
      font-family: 'Open Sans', Arial, sans-serif;
      font-weight: 300;
      color: white;
      border: 1px solid #1291b5;
      &:active{
        background: white;
        color: #444444;      }
    }

    
  }
   
}
// ==========================================================================
.hero_container{
  border-radius: 5px;
  .hero_label{
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
    color: white;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#0c7e9f', endColorstr='#16677e');
    background: linear-gradient(#0c7e9f, #16677e);

    &:first-child{
      border-top-left-radius:5px;
      border-top-right-radius:5px;
    }
    &:last-child{
      border-bottom-right-radius:5px;
      border-bottom-left-radius:5px;
    }
  }
  .mini_form-{
    background:#12a3cd;
    padding: 20px;
    
  }
  .large_form-container{
    background: #12a3cd;
    padding: 15px 20px;
    text-align: center;

    .form_listing{
      display: inline-block;
      text-align: center;
      color: white;
      font-size: 12px;
      border: 1px solid #1b5c6f;
      font-family: arial;
      margin: 10px;
      border-radius: 3px;
      position: relative;
      height: 40px;
      padding-top: 10px;
      width: 45.5%;
      vertical-align: top;

     &:nth-child(odd){
      margin-left: 0;
     }
     &:nth-child(even){
      margin-right: 0;
      margin-left: 0;
     }
     
     

      

     }
     a{
      color: white;
     }
      }

    
  }
    .mini_form_btn{
      font-size: 16px;
      border: 2px solid white;
      border-radius: 5px;
      text-align: center;
      font-weight: 400;
      padding: 15px 0;
      margin-top: 10px;
      font-family: 'Open Sans', Arial, sans-serif;
      font-weight: 300;
      text-transform: uppercase; 

    a{
      color: white;
    }
    &:hover{
      opacity: 0.6;
    }


}

    .highlight{
      background: white;
    }
    .hero_container .large_form-container .highlight a{
      color: black;
    }




@media (max-width: 937px) {
  
    .mini_form{
      display: block;
      width: 100%;

    }
  }


// ==========================================================================
  //mobile

@include mobile {

  .menu-icon .nav-toggle {display: block;}

  // ==========================================================================
  
  .menu-icon{
    height: 50px;
    width: 50px;
    display: inline-block;
      &:hover{
      opacity: 0.6;
      }
    }
  // ==========================================================================

  .section__appform{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }

  .section__column{
    float: none;
    width: 100%;
      &:last-child{
        float: none;
        width: 100%;
      }
  }
  // ==========================================================================
  .section__header-form-img{
    padding-top: 10px;  
    width: 100%;
  }

  .section__title-form{
    font-size: 16px;
    width: 100%;
    text-align: center;

  }

  .column__container .pma__m-box,.section__form__container .pma__box .pma__lable{
    display: block;
    width: 100%;
    text-align: left;
    padding-right: 0;
  }

  .column__container .pma__s-box{
    width: 100%;
    text-align: left;
    padding: 10px 0;
  }
  .section__title-form{
    font-size: 24px;
  }

  .column__container .pma__m-box:nth-child(odd),.column__container .pma__m-box:nth-child(even){
    padding: 0;
  }
  .hero_container .large_form-container .form_listing{padding-top: 10px;}
  
  .hero_container {display: none;}
  }


  
//End of Moile
// ==========================================================================
