

// ==========================================================================
.booking-img{//column in the left side
  width: 100%;
  padding-bottom: 30px;
  outline:none;
}


// ==========================================================================
.booking-items{//column in the right side
  width: auto;
  margin-left: 55px;
}

.column__title{
  font-size: 36px;
  padding-bottom: 10px;
  margin-left: 55px;
}

.callout-list__item-list__price{
  position: absolute;
  top: 10%;
  left:calc(100% - 80px);
  color: white;
  background: rgba( 61, 179, 213, 0.8);  
  padding: 5px;
  font-size: 24px;
  width:70px;
  text-align: center;

}

.callout-list__item-list{
  list-style-type: none;
  width: 47%;
  display: inline-block;
  
  position: relative;
  &:nth-child(odd){
    margin-left: 20px;

  }
  
}

.callout-list__item-list img{
  width: 100%;
}



.callout__list-item_name{
  font-size: 14px;
  font-weight: bold;
  color: #1a7c98;
  padding-top: 10px;
  color: rgba( 61, 179, 213, 1);
  display: block;
}

.callout__list-item_discription{
  font-size: 12px;
  color: rgba( 61, 179, 213, 1);
  display: block;
  padding-top: 5px;
  padding-bottom: 10px;
}
.callout__list-item_name,.callout__list-item_discription{
  padding-left: 10px;

}

.current__pages{
  float: left;
  position: relative;
  top: 10px;
  font-size: 14px;
}

// ==========================================================================
//nav bar
.pages{
  margin: 20px 0px 20px 55px;
  height: 30px;
}

.navbar__pages{
  float: right;
  position: relative;
  top: 10px;
}
.navbar__pages-list{
  display: inline-block;
}

.navbar__pages-item{
  padding: 10px 15px;
  margin-right: 10px;
  border: 1px solid rgba( 61, 179, 213, 1);
  border-radius: 5px;
  color: rgba( 61, 179, 213, 1);
  font-weight: bold;
  position: relative;
}

.navbar__pages-arrow{
  width: 0; 
  height: 0; 
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid rgba( 61, 179, 213, 1);
  position: absolute;
  top: 35%;
  left:40%;
}
// ==========================================================================
// mobile

@media screen and (max-width: 640px){

  .callout-list__item-list{
    display: block;
    width: 100%;
    text-align: center;
    left: 0px;
    &:nth-child(odd){
      margin-left: 0;
    }
    
  }
  .column__title{
    margin-left: 0;
  }
  .booking-items{margin: 0}
  .pages{margin-left: 0}
  .current__pages{

  margin-left: 0px;
}

  .callout-list__item-list__price{left:calc(95% - 85px);}

}




