.booking-img {
  width: 100%;
  padding-bottom: 30px; }

.booking-items {
  width: auto; }

.column__title {
  font-size: 36px;
  padding-bottom: 10px;
  margin-left: 55px; }

.callout-list__item-list__price {
  position: absolute;
  top: 10%;
  left: calc(100% - 80px);
  color: white;
  background: rgba(61, 179, 213, 0.8);
  padding: 5px;
  font-size: 24px;
  width: 70px;
  text-align: center; }

.callout-list__item-list {
  list-style-type: none;
  width: 45%;
  display: inline-block;
  margin-left: 20px;
  left: 35px;
  position: relative; }

.callout-list__item-list img {
  width: 100%; }

.callout__list-item_name {
  font-size: 14px;
  color: #3db3d5;
  display: block; }

.callout__list-item_discription {
  font-size: 10px;
  color: #3db3d5;
  display: block;
  padding-bottom: 10px; }

.current__pages {
  margin-top: 30px;
  font-size: 14px;
  display: inline-block;
  margin-left: 55px; }

.navbar__pages {
  float: right;
  margin-top: 30px; }

.navbar__pages-list {
  display: inline-block; }

.navbar__pages-item {
  padding: 10px 15px;
  margin-right: 10px;
  border: 1px solid #3db3d5;
  border-radius: 5px;
  color: #3db3d5;
  font-weight: bold;
  position: relative; }

.navbar__pages-arrow {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #3db3d5;
  position: absolute;
  top: 35%;
  left: 40%; }

@media screen and (max-width: 640px) {
  .callout-list__item-list {
    display: block;
    width: 100%;
    text-align: center;
    left: 0px;
    margin-left: 0; }
  .column__title {
    margin-left: 0; }
  .current__pages {
    margin-left: 0px; }
  .callout-list__item-list__price {
    left: calc(95% - 85px); } }
