// START : ALTERNATE CALLOUT
section.section
	.container
		
		header.section__header
			h3.section__main-title Explore Orlando
			h4.section__sub-title Experience what the locals like to do on the weekend

		ul.callout-list
			li.callout-list__item.callout-list__item--large
				a.callout-list__item__anchor(href='#' data-featherlight="<h3>FOOD</h3><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMake </p>")
					img(src='/assets/images/temp/food.jpg',alt='')
					span.callout-list__item__title FOOD
			li.callout-list__item
				a.callout-list__item__anchor(href='#' data-featherlight="<h3>SPORTS</h3><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMake </p>")
					img(src='/assets/images/temp/sports.jpg',alt='')
					span.callout-list__item__title SPORTS
			li.callout-list__item.callout-list__item--large
				a.callout-list__item__anchor(href='#' data-featherlight="<h3>BEACHES</h3><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMake </p>")
					img(src='/assets/images/temp/beach.jpg',alt='')
					span.callout-list__item__title BEACHES
			li.callout-list__item
				a.callout-list__item__anchor(href='#' data-featherlight="<h3>ACTIVE</h3><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMake </p>")
					img(src='/assets/images/temp/active.jpg',alt='')
					span.callout-list__item__title ACTIVE
					
			li.callout-list__item.callout-list__item--large
				a.callout-list__item__anchor(href='#' data-featherlight="<h3>NIGHTLIFE</h3><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMake </p>")
					img(src='/assets/images/temp/nightlife.jpg',alt='')
					span.callout-list__item__title NIGHTLIFE
			li.callout-list__item
				a.callout-list__item__anchor(href='#' data-featherlight="<h3>LOCAL</h3><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMake </p>")
					img(src='/assets/images/temp/local.jpg',alt='')
					span.callout-list__item__title LOCAL
			
// END : ALTERNATE CALLOUT
