//- // START FEATURE CALLOUT BANNER

- backgroundUrl = "/assets/images/featured-renters-callout-mini.jpg"

.feature-callout-renters__mini#featureCallout(style="background-image: url(#{backgroundUrl});",class="#{featureVariation}")
  
  .container
    
// END FEATURE CALLOUT BANNER