

- backgroundUrl = "/assets/images/temp/callout-banner-livingroom.jpg"
  
  
.feature-callout-renters__banner
  a#featureCallout(style="background-image: url(#{backgroundUrl});",class="feature-callout_img" href='#')
    .openicon
      img(src="/assets/images/openicon.png")
  .container_div_bottom
    .pricing__container
      .banner__pricing $945 
          span.span-perweek per week
      .banner__pricing &#163;605 
          span.span-perweek per week
        
    .banner__container 
      .container
        .banner__contant-title Beautiful Disney Pool
        address.banner__contant-address Clermont, Florida
        ul.banner__contant
          li.banner__contant-list
           .banner__svg 
              svg(role='img',title='Play')
                use(xlink:href='/assets/images/sprite.svg#multiple25') 
            span.banner__label 8 Guests
          li.banner__contant-list 
            .banner__svg
              svg(role='img',title='Play')
                use(xlink:href='/assets/images/sprite.svg#open203')
            span.banner__label 4 bedrooms  
          li.banner__contant-list 
            .banner__svg
              svg(role='img',title='Play')
                use(xlink:href='/assets/images/sprite.svg#bathtub3')
            span.banner__label 3 bathrooms
        
          li.banner__contant-list 
            .banner__svg
              svg(role='img',title='Play')
                use(xlink:href='/assets/images/sprite.svg#ascending8') 
            span.banner__label 2 floors
          li.banner__contant-list 
            .banner__svg
              svg(role='img',title='Play')
                use(xlink:href='/assets/images/sprite.svg#stick-man1')
            span.banner__label Pool
#hiddengallery
  .overlay
    #viewer
      #slider.flexslider
          ul.slides
              li
                img(src='/assets/images/temp/rooms.jpg')
              |     
              li
                img(src='/assets/images/temp/rooms.jpg')
              |     
              li
                img(src='/assets/images/temp/rooms.jpg')
              |     
              li
                img(src='/assets/images/temp/rooms.jpg')
              |     
              li
                img(src='/assets/images/temp/rooms.jpg')
              |     
              li
                img(src='/assets/images/temp/rooms.jpg')
              |     
              li
                img(src='/assets/images/temp/rooms.jpg')
              |     
              li
                img(src='/assets/images/temp/rooms.jpg')
              |     
              li
                img(src='/assets/images/temp/rooms.jpg')
              |     
              li
                img(src='/assets/images/temp/food.jpg')
              |     
              li
                img(src='/assets/images/temp/rooms.jpg')
              |     
              li
                img(src='/assets/images/temp/rooms.jpg')
              |     
              li
                img(src='/assets/images/temp/rooms.jpg')

            a(href='#' id="close")
      #carousel.flexslider
          ul.slides
            li
              img(src='/assets/images/temp/rooms.jpg' class="img-slider")
            |     
            li
              img(src='/assets/images/temp/rooms.jpg' class="img-slider")
            |     
            li
              img(src='/assets/images/temp/rooms.jpg' class="img-slider")
            |     
            li
              img(src='/assets/images/temp/rooms.jpg' class="img-slider")
            |     
            li
              img(src='/assets/images/temp/rooms.jpg' class="img-slider")
            |     
            li
              img(src='/assets/images/temp/rooms.jpg' class="img-slider")
            |     
            li
              img(src='/assets/images/temp/rooms.jpg' class="img-slider")
            |     
            li
              img(src='/assets/images/temp/rooms.jpg' class="img-slider")
            |     
            li
              img(src='/assets/images/temp/rooms.jpg' class="img-slider")
            |     
            li
              img(src='/assets/images/temp/rooms.jpg' class="img-slider")
            |     
            li
              img(src='/assets/images/temp/rooms.jpg' class="img-slider")
            |     
            li
              img(src='/assets/images/temp/rooms.jpg' class="img-slider")
            |     
            li
              img(src='/assets/images/temp/rooms.jpg' class="img-slider")

 
