// START FEATURE CALLOUT
if featureVariation == "feature-callout--mini"
	- backgroundUrl = "/assets/images/global/mini-callout.jpg"
else
	- backgroundUrl = "/assets/images/feature-callout-renters.jpg"

.feature-callout#featureCallout(style="background-image: url(#{backgroundUrl});",class="#{featureVariation}")
	.container
		if featureVariation == "feature-callout--mini"
			h2.feature-callout__initial-header Managing Your Peace of Mind
			h2.feature-callout__final-header You own it, we'll handle the hard parts
			a(href="/landing")#button Find out more about our property management services
		else
			h2.feature-callout__initial-header Welcome To Your
			h2.feature-callout__final-header Home Away From Home
			a(href="/booklisting").button-callout Book Your Orlando, FL Getaway
// END FEATURE CALLOUT
