// START FEATURE CALLOUT
if featureVariation == "feature-callout--mini"

  - backgroundUrl = "/assets/images/feature-pm-landing.jpg"
 
else
   - backgroundUrl = "/assets/images/global/candg-pm-landing.jpg"

.feature-callout#featureCallout(style="background-image: url(#{backgroundUrl});",class="#{featureVariation}")
  .container
    if featureVariation == "feature-callout--mini"
      h2.feature-callout__initial-header VISIT ORLANDO, THE CITY BEAUTIFUL
      h2.feature-callout__final-header You own it, we'll handle the hard parts
      a(href="/management").button FIND OUT MORE NOW
    else
      h2.feature-callout__initial-header TAKING CARE OF YOUR SECOND HOME
      h2.feature-callout__final-header WHILE YOU FOCUS ON THE FIRST
      a(href="/booklisting").button-callout RENT YOUR VACTION HOME TODAY!
// END FEATURE CALLOUT
