// START : TRIPLE CALLOUT
section.section
  .container
    
    header.section__header
      h3.section__main-title SERVICES
      h4.section__sub-title Conveniently located near all major Orlando, FL attractions

    ul.callout-list
      li.callout-list__item
        a.callout-list__item__anchor(href='#' data-featherlight="<h3>PROPERTY RENTAL</h3><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMake </p>")
          img(src='/assets/images/temp/rental.jpg',alt='')
          span.callout-list__item__title PROPERTY RENTAL
      li.callout-list__item
        a.callout-list__item__anchor(href='#' data-featherlight="<h3>HOUSEKEEPING</h3><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMake </p>")
          img(src='/assets/images/temp/housekeeping.jpg',alt='')
          span.callout-list__item__title HOUSEKEEPING
      li.callout-list__item
        a.callout-list__item__anchor(href='#' data-featherlight="<h3>POOL SERVICE</h3><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMake </p>")
          img(src='/assets/images/temp/pool.jpg',alt='')
          span.callout-list__item__title POOL SERVICE
      li.callout-list__item
        a.callout-list__item__anchor(href='#' data-featherlight="<h3>LAWN SERVICE</h3><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMake </p>")
          img(src='/assets/images/temp/lawn.jpg',alt='')
          span.callout-list__item__title LAWN SERVICE
      li.callout-list__item
        a.callout-list__item__anchor(href='#' data-featherlight="<h3>PEST CONTROL</h3><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMake </p>")
          img(src='/assets/images/temp/pest.jpg',alt='')
          span.callout-list__item__title PEST CONTROL
      li.callout-list__item
        a.callout-list__item__anchor(href='#' data-featherlight="<h3>MAINTENANCE</h3><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMake </p>")
          img(src='/assets/images/temp/maintenance.jpg',alt='')
          span.callout-list__item__title MAINTENANCE

// END : TRIPLE CALLOUT
