section.section-lightblue
  .container
    .section__column 
      .mini_form-container
        .mini_form
          label.mini_form__label.check Check-In
          input.mini_form__input(type="text" id="checkin" name="checkin" value="mm/dd/yy")
        .mini_form
          label.mini_form__label Check-Out
          input.mini_form__input(type="text" id="checkout" name="checkout" value="mm/dd/yy")
        .mini_form
          label.mini_form__label.guest Guests
          .select-number(data-reactid=".1.0.0.$=14:0.1")
            select(id="guests" name="guests" data-reactid=".1.0.0.$=14:0.1.0")
              option(value="1") 1 
              option(value="2") 2 
              option(value="3") 3 
              option(value="4") 4 
              option(value="5") 5 
              option(value="6") 6 
              option(value="7") 7 
              option(value="8") 8 
              option(value="9") 9 
              option(value="10") 10 
              option(value="11") 11 
              option(value="12") 12 
              option(value="13") 13 
              option(value="14") 14 
              option(value="15") 15 
              option(value="16") 16+ 
        .mini_form_btn
          a(href='#/' id="book-it-btn") Request To Book

      .master__center(style="display: none")
        .menu-icon 
           a.nav-toggle(href='#/' )
            span 
          
      .section__appform
        .amenities__title_DT AMENITIES
        .amenities__title AMENITIES
        ul.amenities__container
          li.amenities__list  Kitchen
          li.amenities__list Internet
          li.amenities__list TV
          li.amenities__list Heating
          li.amenities__list Air Conditioning
          li.amenities__list Washer
          li.amenities__list Dryer
          li.amenities__list Free Parking on Premises
          li.amenities__list Wireless Internet
          li.amenities__list Cable TV
          li.amenities__list.crossedout Breakfast
          li.amenities__list.crossedout Pets Allowed
          li.amenities__list Family/Kid Friendly
          li.amenities__list Suitable for Events
          li.amenities__list.crossedout Smoking Allowed
          li.amenities__list.crossedout Wheelchair Accessible
          li.amenities__list.crossedout Elevator in Building
          li.amenities__list.crossedout Indoor Fireplace
          li.amenities__list.crossedout Buzzer/Wireless Intercom
          li.amenities__list Pool
          li.amenities__list Hot Tub
          li.amenities__list Gym
          li.amenities__list Smoke Detector
          li.amenities__list.crossedout Carbon Monoxide Detector
          li.amenities__list First Aid KitSafety Card
          li.amenities__list Fire Extinguisher
        

    .section__column 
      .column__container
        .paragraph__title-container Property Description
        p.paragraph Perfect location for all attractions! This four bed private pool home is located in the heart of all Orlando Attractions. Positioned on the quiet Indian Point division the house is close to everything but far enough away to enjoy some quiet down time. The pool has a large private screened pool with plenty of furniture to relax at the end of the day in the parks. The home has four bedrooms, A/C, games room &amp; free internet &amp; wifi. The interior of our vacation home is decorated to a high standard with nice soft colouring. The villa comprises of 4 bedrooms and 3 bathrooms and a private pool and a games area. 
        .paragraph__title KITCHEN
        p.paragraph The kitchen has all the amenities that anybody would need from a home from home dishwasher/cooker/microwave and a large fridge freezer there is also a little nook with table and chairs for that informal dining all cutlery and utensils are also provided for your convenience. 
        .paragraph__title DINNING AREA
        p.paragraph The dining area is situated away from the Kitchen and it has a very nice glass table and 6 Padded chairs for that formal dining experience complete with napkins and place mats. 
        .paragraph__title LOUNGE AREA
        p.paragraph The lounge area is a large area with a nice sectional with 4 recliners and a coffee table a large flat screen TV is here also for the concerning football/soccer fan here you can put the feet up have a beer and watch the game after a hard day at the parks or after just unwinding at the pool. 
        .paragraph__title MASTER BEDROOM
        p.paragraph 1 Large king-size bed and lockers both side and a large en-suite bathroom with bath and walk-in shower unit. Cable TV and telephone and a large closet for storage.
        .paragraph__title MASTER BEDROOM 2
        p.paragraph Queen size bedroom with en-suite and closet for storage also cable TV and telephone. 
        .paragraph__title TWIN BEDROOM
        p.paragraph 2 single beds with closet for storage and cable TV and a bedside locker. 
      
      