// START : COLUMS
section.section-lightblue.borderline
  .container
    .section__column 
      .master__center
          .menu-icon 
           a.nav-toggle(href='#')
            span
            
      ul.section__appform
        li.callout-form__item__anchor
          a.callout-form__item__anchor.active(href='#') Application Form
        li.callout-form__item__anchor  
          a.callout-form__item__anchor(href='#') Need Help?
        li.callout-form__item__anchor
          a.callout-form__item__anchor(href='#') How It Works
        li.callout-form__item__anchor 
          a.callout-form__item__anchor(href='#') Client Rentals
        li.callout-form__item__anchor   
          a.callout-form__item__anchor(href='#') Homeowner Services
        li.callout-form__item__anchor
          a.callout-form__item__anchor(href='#') Why C&amp;G is the Right Choice
        li.callout-form__item__anchor
          a.callout-form__item__anchor(href='#') Fees &amp; Charges
        li.callout-form__item__anchor
          a.callout-form__item__anchor(href='#') About C&amp;G

    .section__column 
        .section__title-form Property Management Application
        .column__container
          .pma__title Rent Your Property Today!
          .pma__sub Complete the application below to start turning your home into a real investment!
          //- Form start
          //- 1
          form#applicationForm
            .pma__m-box
              .pma__lable First Name*
              .pma__input
               input(type="text" name="firstname" minlength="2" id="firstname" class="required")
            //- 2
            .pma__m-box
              .pma__lable Last Name*
              .pma__input
               input(type="text" name="lastname" minlength="2" id="lastname" class="required")
             //- 3
            .pma__m-box
              .pma__lable Email Address*
              .pma__input
                input(type="text" name="email" id="email" class="required")
            //- 4
            .pma__m-box
              .pma__lable Confirm Email*
              .pma__input
                input(type="text" name="cemail" id="cemail" class="required")

            .pma__box
              .pma__lable Property Address*
              .pma__input
                input(type="text" name="address" id="address" class="required")

            //- Block
            div
            //- Block

            //- 6
            .pma__m-box
              .pma__lable City*
              .pma__input
                input(type="City" name="city" id="city" class="required")
            //- 7
            .pma__m-box
              .pma__lable State
              .pma__input
                select(name='ST')
                    option( class='lo' value='Alabama') Alabama
                    option(value='Alaska') Alaska
                    option(value='Arizona') Arizona
                    option(value='Arkansas') Arkansas
                    option(value='California') California
                    option(value='Colorado') Colorado
                    option(value='Connecticut') Connecticut
                    option(value='Delaware') Delaware
                    option(value='District of Columbia') District of Columbia
                    option(selected='Florida' value='Florida') Florida
                    option(value='Georgia') Georgia
                    option(value='Hawaii') Hawaii
                    option(value='Idaho') Idaho
                    option(value='Illinois') Illinois
                    option(value='Indiana') Indiana
                    option(value='Iowa') Iowa
                    option(value='Kansas') Kansas
                    option(value='Kentucky') Kentucky
                    option(value='Louisiana') Louisiana
                    option(value='Maine') Maine
                    option(value='Maryland') Maryland
                    option(value='Massachusetts') Massachusetts
                    option(value='Michigan') Michigan
                    option(value='Minnesota') Minnesota
                    option(value='Mississippi') Mississippi
                    option(value='Missouri') Missouri
                    option(value='Montana') Montana
                    option(value='Nebraska') Nebraska
                    option(value='Nevada') Nevada
                    option(value='New Hampshire') New Hampshire
                    option(value='New Jersey') New Jersey
                    option(value='New Mexico') New Mexico
                    option(value='New York') New York
                    option(value='North Carolina') North Carolina
                    option(value='North Dakota') North Dakota
                    option(value='Ohio') Ohio
                    option(value='Oklahoma') Oklahoma
                    option(value='Oregon') Oregon
                    option(value='Pennsylvania') Pennsylvania
                    option(value='Rhode Island') Rhode Island
                    option(value='South Carolina') South Carolina
                    option(value='South Dakota') South Dakota
                    option(value='Tennessee') Tennessee
                    option(value='Texas') Texas
                    option(value='Utah') Utah
                    option(value='Vermont') Vermont
                    option(value='Virginia') Virginia
                    option(value='Washington') Washington
                    option(value='West Virginia') West Virginia
                    option(value='Wisconsin') Wisconsin
                    option(value='Wyoming') Wyoming
            .pma__m-box
              .pma__lable Zipcode*
              .pma__input
                input(type="text" name="zipcode" id="zipcode" class="required")
            //- 8
            .pma__m-box
              .pma__lable Phone Number*
              .pma__input
               input(type="text" name="phone" id="phone" class="required")
            //- Selection
            .pma_s-box_container
              .pma__s-box
                .pma__lable Furnished?
                .pma__select
                  select(id="furnished" name="furnished")
                    option(value="Yes") No 
                    option(value="No") Yes 
              .pma__s-box      
                .pma__lable # of Bedrooms
                .pma__select
                  select(id="bedrooms" name="bedrooms")
                    option(value="1") 1 
                    option(value="2") 2 
                    option(value="3") 3 
                    option(value="4") 4 
                    option(value="5") 5
              .pma__s-box
                .pma__lable # of Bathrooms
                .pma__select
                  select(id="bathrooms" name="bathrooms")
                    option(value="1") 1 
                    option(value="2") 2 
                    option(value="3") 3 
                    option(value="4") 4 
                    option(value="5") 5
              .pma__s-box
                .pma__lable # of Masters
                .pma__select
                  select(id="masters" name="masters")
                    option(value="1") 1 
                    option(value="2") 2 
                    option(value="3") 3 
                    option(value="4") 4 
                    option(value="5") 5
            .pma__lable-l 
              input(type='submit' id='submit' value='SUBMIT APPLICATION') 


  
      
// END : Colums