// START : section-colum-search
section.section-lightblue.borderline
  .container
    .section__column 
      .hero_container 
        .hero_label DATES
        .mini_form-
          .mini_form
            label.mini_form__label.check Check-In
            input.mini_form__input(type="text" id="checkin" name="checkin" value="mm/dd/yy")
          .mini_form
            label.mini_form__label Check-Out
            input.mini_form__input(type="text" id="checkout" name="checkout" value="mm/dd/yy")
          .mini_form
            label.mini_form__label.guest Guests
            .select-number(data-reactid=".1.0.0.$=14:0.1")
              select(id="guests" name="guests" data-reactid=".1.0.0.$=14:0.1.0")
                option(value="1") 1 
                option(value="2") 2 
                option(value="3") 3 
                option(value="4") 4 
                option(value="5") 5 
                option(value="6") 6 
                option(value="7") 7 
                option(value="8") 8 
                option(value="9") 9 
                option(value="10") 10 
                option(value="11") 11 
                option(value="12") 12 
                option(value="13") 13 
                option(value="14") 14 
                option(value="15") 15 
                option(value="16") 16+ 
        .hero_label AMENITIES
        ul.large_form-container
          li.form_listing
            a(href='#/' id="") 2 Masters  
          li.form_listing
            a(href='#/' id="") 2 storys
          li.form_listing
            a(href='#/' id="") Covered Lanai / pool
          li.form_listing 
            a(href='#/' id="") East-facing Pool
          li.form_listing
            a(href='#/' id="") Flat Screen TV
          li.form_listing
            a(href='#/' id="") Game Rooms
          li.form_listing 
            a(href='#/' id="") Garden Tub
          li.form_listing 
            a(href='#/' id="") Gated Community 
          li.form_listing 
            a(href='#/' id="") Outdoor Jacuzzi
          li.form_listing 
            a(href='#/' id="") Pool Heating
          li.form_listing
            a(href='#/' id="") Upgraded Funishings
          li.form_listing 
            a(href='#/' id="") Private Pool
          li.form_listing   
            a(href='#/' id="") Wi-Fi
          li.form_listing 
            a(href='#/' id="") Cable TV
        .hero_label
          .mini_form_btn
            a(href='#/' id="book-it-btn") SHOW LISTINGS



    
    .section__column 
      h3.column__title Property Search
      .pages
        .current__pages 1 - 8 of 40 Rentals
        ul.navbar__pages
          li.navbar__pages-list
            a(href='#').navbar__pages-item.active 1
          li.navbar__pages-list
            a(href='#').navbar__pages-item  2
          li.navbar__pages-list
            a(href='#').navbar__pages-item  3
          li.navbar__pages-list
            a(href='#').navbar__pages-item  4
          li.navbar__pages-list
            a(href='#').navbar__pages-item 
              .navbar__pages-arrow
      .booking-items
        ul.callout-list

        li.callout-list__item-list
          a.callout-list__item__anchor(href='/booking')
            img(src='/assets/images/temp/house1.jpg',alt='')
            .callout-list__item-list__price $159
            .callout__list-item_name Luxury Family Retreat
            .callout__list-item_discription 4 bedroom / 3 bath 1 story / 1900sq.ft
        li.callout-list__item-list
          a.callout-list__item__anchor(href='/booking')
            img.callout-booking-img(src='/assets/images/temp/house2.jpg',alt='')
            .callout-list__item-list__price $79
            .callout__list-item_name Disney Vacation Home
            .callout__list-item_discription 3 bedroom / 3 bath 2 story / 1400sq.ft
        li.callout-list__item-list
          a.callout-list__item__anchor(href='/booking')
            img.callout-booking-img(src='/assets/images/temp/house1.jpg',alt='')
            .callout-list__item-list__price $159
            .callout__list-item_name Luxury Family Retreat
            .callout__list-item_discription 4 bedroom / 3 bath 1 story / 1900sq.ft
        li.callout-list__item-list
          a.callout-list__item__anchor(href='/booking')
            img.callout-booking-img(src='/assets/images/temp/house2.jpg',alt='')
            .callout-list__item-list__price $79
            .callout__list-item_name Disney Vacation Home 
            .callout__list-item_discription 3 bedroom / 3 bath 2 story / 1400sq.ft
        li.callout-list__item-list
          a.callout-list__item__anchor(href='/booking')
            img.callout-booking-img(src='/assets/images/temp/house1.jpg',alt='')
            .callout-list__item-list__price $159
            .callout__list-item_name Luxury Family Retreat
            .callout__list-item_discription 4 bedroom / 3 bath 1 story / 1900sq.ft
        li.callout-list__item-list
          a.callout-list__item__anchor(href='/booking')
            img(src='/assets/images/temp/house2.jpg',alt='')
            .callout-list__item-list__price $79
            .callout__list-item_name Disney Vacation Home  
            .callout__list-item_discription 3 bedroom / 3 bath 2 story / 1400sq.ft  
        li.callout-list__item-list
          a.callout-list__item__anchor(href='/booking')
            img(src='/assets/images/temp/house1.jpg',alt='')
            .callout-list__item-list__price $159
            .callout__list-item_name Luxury Family Retreat
            .callout__list-item_discription 4 bedroom / 3 bath 1 story / 1900sq.ft
        li.callout-list__item-list
          a.callout-list__item__anchor(href='/booking')
            img.callout-booking-img(src='/assets/images/temp/house2.jpg',alt='')
            .callout-list__item-list__price $79
            .callout__list-item_name Disney Vacation Home
            .callout__list-item_discription 3 bedroom / 3 bath 2 story / 1400sq.ft
        li.callout-list__item-list
          a.callout-list__item__anchor(href='/booking')
            img.callout-booking-img(src='/assets/images/temp/house1.jpg',alt='')
            .callout-list__item-list__price $159
            .callout__list-item_name Luxury Family Retreat
            .callout__list-item_discription 4 bedroom / 3 bath 1 story / 1900sq.ft
        li.callout-list__item-list
          a.callout-list__item__anchor(href='/booking')
            img.callout-booking-img(src='/assets/images/temp/house2.jpg',alt='')
            .callout-list__item-list__price $79
            .callout__list-item_name Disney Vacation Home 
            .callout__list-item_discription 3 bedroom / 3 bath 2 story / 1400sq.ft

      .pages
        .current__pages 1 - 8 of 40 Rentals
        ul.navbar__pages
          li.navbar__pages-list
            a(href='#').navbar__pages-item.active 1
          li.navbar__pages-list
            a(href='#').navbar__pages-item  2
          li.navbar__pages-list
            a(href='#').navbar__pages-item  3
          li.navbar__pages-list
            a(href='#').navbar__pages-item  4
          li.navbar__pages-list
            a(href='#').navbar__pages-item 
              .navbar__pages-arrow
          
      
// END : section-colum-search