// START : TRIPLE CALLOUT
section.section
	.container
		
		header.section__header
			h3.section__main-title Something for Everyone
			h4.section__sub-title Conveniently located near all major Orlando, FL attractions

		ul.callout-list
			li.callout-list__item
				a.callout-list__item__anchor(href='#' data-featherlight="<h3>ADVENTURE</h3><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMake </p>")
					img(src='/assets/images/temp/adventure.jpg',alt='')
					span.callout-list__item__title ADVENTURE
			li.callout-list__item
				a.callout-list__item__anchor(href='#' data-featherlight="<h3>FANTASY</h3><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMake </p>")
					img(src='/assets/images/temp/fantasy.jpg',alt='')
					span.callout-list__item__title FANTASY
			li.callout-list__item
				a.callout-list__item__anchor(href='#' data-featherlight="<h3>LEISURE</h3><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMake </p>")
					img(src='/assets/images/temp/leisure.jpg',alt='')
					span.callout-list__item__title LEISURE

// END : TRIPLE CALLOUT
