/* ==========================================================================
    BROWSER TWEAKS
   ========================================================================== */

// fixes input elements to have border-box great for percentages
* , *:before , *:after {
    @include box-sizing(border-box);
}

// set tranisition to all links and btns form fields
a , .btn, button, input, select, textarea {
    @include transition(all 0.5s ease-in-out);
}

// remove annoying dotted outline on links and form elements
* {
    outline: 0;
}

/* IE 10 Overrides */

// removes annoying x on inputs
*::-ms-clear {
    display: none;
}

// fix scrollbar overlap
body {
    -ms-overflow-style: scrollbar !important;
}

// Browser Form overwrites
input, textarea {
    @include appearance(none);
}
select {
    border-radius: 0;
}
textarea {
    resize: none;
}
input[type=submit] {
    cursor: pointer;
}

/* Mobile Overrides */
// remove ugly highlight color
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
