/* ==========================================================================
    FONTS
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

.opensans-light {
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: 300;
}

.opensans-normal {
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: 400;
}

.opensans-bold {
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: 700;
}