/* ==========================================================================
    FOOTER
   ========================================================================== */

.global-footer{
  width: 100%;
  font-size: 10px;
  background: #114e68;
}

//left
.global-footer-container{
  float: left;
  img{
    float: left;
  }
}

.global-footer-text-container{
  display: inline-block;
  bottom: 19px;
  color: white;
  float: left;
  padding-top: 20px;
}

.global-footer-text{
  display: inline-block;
  padding: 0 5px; 
}

.global-footer-link{
  color: white;
  padding: 0 5px;
  border-left: 1px solid white;

  &:hover{
    text-decoration: underline;
  }

}


//right
  .global-footer-minicontainer{
   color: white;
   float: right;
   padding-top: 20px;

    .global-footer-designed{
      
    }
    .global-footer-devloped{
      text-decoration: underline;
      
    }
   }

   @include mobile {
    .global-footer-minicontainer{
      float: left;
    }
   }





