/* ==========================================================================
    GLOBAL
   ========================================================================== */

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  &:before, &:after {
    box-sizing: border-box;
  }
}

html, body {
  height: 100%;
}

body {
  font: 10px Arial, sans-serif;
  min-height: 100%;
}

a {
  text-decoration: none;

  @include transition(all $transitionSpeed);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

i, cite, em, var, address{
  font-style: inherit;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  @extend .clearfix;
  max-width: $desktop;
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
}

.section {

  @include extrasmall {
    padding: 80px 0;
  }

  @include small {
    padding: 80px 0;
  }

}

.section-lightblue{
  padding: 40px 0;
  background:#e8f4f7;
}
  

.section__header {
  color: #333;
  text-align: center;

  @include extrasmall {
    margin-bottom: 15px;
  }

  @include small {
    margin-bottom: 30px;
  }

}

.section__main-title {
  @extend .opensans-bold;
  font-size: 28px;
}

.section__sub-title {
  @extend .opensans-normal;
  font-size: 14px;
}

.button {
  @extend .opensans-normal;
  border-radius: 3px;
  border: 2px solid #fff;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  height: 40px;
  line-height: 36px;
  padding: 0 10px;
  text-transform: uppercase;
}

.button-callout {
  @extend .button;
  border: none;
  background-color: rgba(18,163,205,0.8);
  line-height: 40px;
  @include transition(all $transitionSpeed);

  &:hover {
    background-color: rgba(18,163,205,1);
  }

}

/* ==========================================================================
    HEADER
   ========================================================================== */

.header {
  background-color: rgba(18,163,205,1);
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  @include transition(background-color 0.25s, padding 0.25s);

  .template-home & {
    background-color: rgba(18,163,205,0);
    padding: 20px 0;

    &.solid-state {
      background-color: rgba(18,163,205,1);
      padding: 10px 0;
    }

  }

}

.logo {
  height: 43px;
  float: left;
  overflow: hidden;
  

  a {
    background: url(../images/global/logo.png) no-repeat left;
    display: block;
    height: 100%;
    text-indent: -9999px;
    width: 100%;
  }

  @include extrasmall {
    width: 108px;
  }

  @include small {
    width: 278px;
  }

}

.un-nav {
  color: #fff;
  float: right;
  height: 40px;

  .button {
    float: right;
    margin-left: 20px;

    @include extrasmall {
      width: 100px;
      overflow: hidden;
      text-align: center;
    }
  }

}

.call-us {
  background: url(../images/global/cellphone.png) no-repeat left;
  height: 100%;
  line-height: 40px;
  color: #fff;
  display: inline-block;
  overflow: hidden;

  @include extrasmall {
    background-position: center;
    width: 20px;
    text-indent: -999px;
  }

  @include small {
    padding-left: 20px;
  }

}


.call-us:hover,.button:hover,.logo:hover{
  opacity: 0.6;
}

.error{
  color: red;
  font-size: 16px;
  text-align: center;
  font-weight: normal;
  position: absolute;
  left: 0;
  top: 10px;

}
.fixed{
  position: fixed;
      width: 100%;
}
img{
  outline:none;
  border-style:none; 
}
