/* ==========================================================================
    MIXINS
   ========================================================================== */

// breakpoint mixins
@mixin border-radius-fix($w) {
  @include border-top-left-radius($w);
  @include border-top-right-radius($w);
  @include border-bottom-left-radius($w);
  @include border-bottom-right-radius($w);
}

@mixin respond-to($width) {
    @media only screen and (max-width: $width) { @content; }
}

@mixin respond-from($width) {
    @media only screen and (min-width: $width) { @content; }
}

@mixin respond-to-height($height) {
    @media only screen and (max-height: $height) { @content; }
}

@mixin desktop {
  @media (min-width: $desktop) {
    @content
  }
}

@mixin mobile {
  @media (max-width: $phone) {
    @content
  }
}

@mixin large {
  @media (min-width: $widescreen) {
    @content
  }
}

@mixin medium-only {
  @media (min-width: $desktop) and (max-width: $widescreen - 1) {
    @content
  }
}

@mixin medium {
  @media (min-width: $desktop) {
    @content
  }
}

@mixin small-only {
  @media (min-width: $tablet) and (max-width: $desktop - 1) {
    @content
  }
}

@mixin small {
  @media (min-width: $tablet) {
    @content
  }
}

@mixin extrasmall {
  @media (max-width: $tablet - 1) {
    @content
  }
}

// aspect ratio
// rewritten, simplified
@mixin aspect-ratio($w, $h) {
  $slope: $h / $w;
  $height: $h - $w * $slope;
  padding-top: $slope * 100%;
  height: $height;
}

@mixin user-select($select) {
  $select: unquote($select);
  @include experimental(user-select, $select, -moz, -webkit, not -o, not -ms, -khtml, official);
}

// keyframes mixin
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin animation($def) {
  -webkit-animation: $def; /* Safari 4+ */
  -moz-animation:    $def; /* Fx 5+ */
  -o-animation:      $def; /* Opera 12+ */
  animation:         $def; /* IE 10+ */
}

// add a slash before your item
@mixin slash($_height: 10px, $_margin: 5px, $_width: 4px, $_skew: -20deg, $_color: #fff) {
    &:before {
        content: ' ';
        width: $_width;
        height: $_height;
        background-color: $_color;
        display: inline-block;
        margin-right: $_margin;
        @include transform(skewX($_skew));
        .rtl & {
            margin-left: $_margin;
            margin-right: 0px;
        }
    }
}

// add an arrow after your item
@mixin arrow($position: 'down', $_height: 6px, $_width: 8px, $_color: black) {
    &:after {
        content: " ";
        display: inline-block;
        width: 0px;
        height: 0px;
        border-style: solid;
        margin-bottom: $_height / 2;
        @if $position == 'down' {
          border-width: $_height $_width / 2 0 $_width / 2;
          border-color: $_color transparent transparent transparent;
        } @else if $position == 'up' {
          border-width: 0 $_width / 2 $_height $_width / 2;
          border-color: transparent transparent $_color transparent;
        } @else if $position == 'left' {
          border-width: $_height / 2 $_width $_height / 2 0;
          border-color: transparent $_color transparent transparent;
        } @else if $position == 'right' {
          border-width: $_height / 2 0 $_height / 2 $_width;
          border-color: transparent transparent transparent $_color;
        }
    }
}

// background gradients that work in IE
@mixin background-image-with-ms($image) {
    @include background-image($image); // Compass default version, for everything but IE 10.
    background-image: -ms-#{$image}; // Vendor prefixes for IE 10.
}

@mixin clearfix {
    zoom:1;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}

// util classes
.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
