/* ==========================================================================
    VARS
   ========================================================================== */

// media query breakpoints
$phone: 640px;
$tablet: 768px;
$desktop: 992px;
$widescreen: 1200px;

// global dimensions
$padding: 40px;

// fonts
$themeFontThin: arial, sans-serif;
$themeFontRegular: arial, sans-serif;
$themeFontItalic: arial, sans-serif;
$themeFontBold: arial, sans-serif;

// global colors
$linkColor: #000;

// animation
$transitionSpeed: 0.25s;
