// Footer goes here

Footer.global-footer 
  .container 
    .global-footer-logo 
      .global-footer-container
        img(src="/assets/images/temp/ipg-logo.jpg" atl="") 
        .global-footer-text-container
          .global-footer-text &copy; 2015 C &amp; G Property Management
          a(href="#").global-footer-link About Us
          a(href="#").global-footer-link Contact
      .global-footer-minicontainer
        span.global-footer-designed Designed and Developed by 
        span.global-footer-devloped Kurt Johnson.