// START HEADER
head
  title C&amp;G Property Management
  meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
  meta(name="SKYPE_TOOLBAR", content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
  meta(name="viewport", content="initial-scale=1.0, width=device-width")
  link(rel="stylesheet", href="/assets/css/main.css")
  script(src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.17/require.min.js")
  script(src="/assets/js/main.js")
  script(src="/assets/js/svg4everybody.js")
// END HEADER
