// START : HEADER
header.header#header
	.nav-bg
	.container
		h1.logo
			a(href="/home") C&amp;G Property Management
		.un-nav
			a(href='tel:13522434424').call-us +1 (352) 243 - 4424
			a(href="/landing").button Manage My Property
// END : HEADER
