doctype html
!= "<!--[if lt IE 7]>      <html class=\"no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7\"> <![endif]-->"
!= "<!--[if IE 7]>         <html class=\"no-js lt-ie10 lt-ie9 lt-ie8\"> <![endif]-->"
!= "<!--[if IE 8]>         <html class=\"no-js lt-ie10 lt-ie9\"> <![endif]-->"
!= "<!--[if IE 9]>         <html class=\"no-js lt-ie10\"> <![endif]-->"
!= "<!--[if gt IE 9]><!-->"
html
!= "<!--<![endif]-->"
  include ../global/head
  body.template-home
    include ../global/header

    // START : PAGE CONTENT
    include ../modules/landing-feature-callout
    include ../modules/landing-triple-callout
    - featureVariation = "feature-callout--mini"
    include ../modules/landing-feature-callout
    // END : PAGE CONTENT

    include ../global/footer
